#show_{
    display: none;
}

.popup{
  margin-bottom: 100px;
  margin-top: 160px; 
}

.vignette button{
  padding:5px 10px;
  margin-top:-7px;
}

.vignette-default{
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search_content{
  margin:0 1%;
}

#popup_Add{
  border-radius:30px;
  margin-top: 24px;
}

.vignette-default h3::first-letter{
  text-transform: uppercase;
}

.vignette-default h3{
  margin: 0;
}


/************************************************/

@media screen and (max-width: 1200px){
  .navbar-form .btn{
    margin: 0;
  }

  #search{
    height: 42px;
  }
  
  #btn_search{
    font-size: 14px;
    height: 42px;
    width: auto;
    padding-left: 20px;
  }

  .vignette button{
    margin-top: 20px;
    margin-bottom: 5px;
  }

  #search_content{
    margin-bottom: 35px;
  }

  #search_div{
    width: 100%;
  }

  .input-group-btn {width: 0!important;}

  .vignette{width: 47%;float: left;}

  .vignette button{
    float: right;
    margin: 0;
  }

  #popup_Add {
    width: 40%;
    margin: 0 30%;
  }

}

@media screen and (max-width: 700px){
    #btn{
      margin: 16px 0 0 0;
    }

    .panel-body p{
        margin-bottom: 20px;
    }

    #popup_Add{
      margin-left: 23%;
    }

  }